<div class="FTmenu">
    <div class="FTmenuItem">
        ประเภทหอ :<br />
        <div style="text-align: center;">
            <mat-button-toggle-group name="Category" value="" [(ngModel)] = "searchCategory">
                <mat-button-toggle value="">ทั้งหมด</mat-button-toggle>
                <mat-button-toggle value="รายวัน">รายวัน</mat-button-toggle>
                <mat-button-toggle value="รายเดือน">รายเดือน</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="FTmenuItem">โซนประตู :<br />
        <div style="text-align: center;">
            <mat-button-toggle-group name="Zone" value="" [(ngModel)] = "searchZone">
                <mat-button-toggle value="">ทั้งหมด</mat-button-toggle>
                <mat-button-toggle value="ประตู 1">1</mat-button-toggle>
                <mat-button-toggle value="ประตู 2">2</mat-button-toggle>
                <mat-button-toggle value="ประตู 3">3</mat-button-toggle>
                <mat-button-toggle value="ประตู 4">4</mat-button-toggle>
                <mat-button-toggle value="ประตู 5">5</mat-button-toggle>
                <mat-button-toggle value="ประตู 6">6</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
</div>

<div class="result">
    <div class="itemresult" *ngFor="let item of dataDorm | filter: searchCategory | filter: searchZone">
        <mat-card class="itemCard">
                <mat-card-header>
                    <mat-card-title>{{item.dorm_name}}</mat-card-title>
                    <mat-card-subtitle> {{item.price}} บาท </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{item.tn_path}}"/>
                <mat-card-content>
                    <mat-chip-list>
                        <mat-chip color="primary" selected>{{item.category}}</mat-chip>
                        <mat-chip color="accent" selected>{{item.zone}}</mat-chip>
                    </mat-chip-list>
                </mat-card-content>
                <mat-card-actions>
                    <div style="text-align: center;">
                        <button mat-button (click)="getDetail(item.dorm_id)">รายละเอียด</button>
                    </div>
                </mat-card-actions>
        </mat-card>
    </div>
</div>
